html,
body {
  overflow-x: hidden;
  margin: 0 auto;
}

body {
    font-size: 50px;
}

main {
    width: 90vw;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 0.8em;
    font-weight: 400;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 0.5em;
    font-weight: 400;
}

p, li {
    font-family: 'Playfair Display', serif;
    font-size: 0.35em;
}

.full-width {
    margin:0 calc(-50vw + 50%);
    padding: 30px 10px;
    text-align: center;
}

.full-width p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.35em;
    font-weight: 800;
    line-height: 28px;
}

.full-width__wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.sign-up {
    background: #FF294D;
    color: #F2F2F2;
}

.share {
    background: #0C93CC;
    color: #F2F2F2;
}

@media only screen and (min-width: 650px) {
    main {
      width: 80vw;
    }
  }
